/*PIVOT TABLE CSS

Created by Jacques
Modified by Nicola */

/*Reset CSS  - This is specific for the initial state (Welcome image has to disappear after loading) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}


/*JQWIDGET MODIFICATOR*/

.jqx-tree {
    border: none !important;
}

/*PIVOT TABLE */

/* Actually the real Pivot Table Holder */
#ptest{
    overflow:auto;
    width:100%;
    max-height:600px;
}

.pivot_table {
    width: 100%;
    border: 1px solid #E6E6E6;
    border-collapse: collapse;
    font-size:12px;
    color:#666666;
}

.pivot_table tbody tr:hover td {
    background-color:#2471AA;
    color: #FFFFFF;
}


.pivot_table th, .pivot_table td {
    border: 1px solid #E6E6E6;
    padding: 10px;
    text-align: center;
}

.pivot_table th {
    color:#FFFFFF;
    background-color: #90aec3;
    border-image: none;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}


/* Special Cell */
.pivot_table td.gtotal {
    background-color: #3A9BCC;
}

.pivot_table td.total {
    background-color: #bbd1dc;
}

.pivot_table td.subtotal {
    background-color: #d3ecf8;
}

.pivot_table .odd {
    background-color: #FFFFFF;

}

.pivot_table .even {
    background-color: #eceded;
    border: 1px solid #FFFFFF;
}
/* -------------------------- */

.olap-box {
    position:relative;
    left:190px;
}

#drag-selectors{
    position:absolute;
    left:-170px;
}
/* Cell on left-top of the table*/
.pivot_table th.h1 {
    background-color: #bbd1dc;
}



/* Flag Table initial state */
#hor-minimalist-b thead{
    display:none
}

/*Invisible Element*/
.pivot_chart, .pivot_row_chart, .pivot_col_chart {
    height: 200px;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

/* END PIVOT TABLE*/




/*FBS*/



.invi{display:none}

.visifb{display:table-row}
.visi2{display:block;}



#mainTD{ *margin-top: -25px;}
#mainTD #header{
    background-image:url(/faostat-download-js/images/tabBg.gif);
    background-repeat:no-repeat;
    width:718px;
    height:90px;
    font-family:Arial, Helvetica, sans-serif;
    color:#333;
    font-size:10px;
    background-size: 718px 93px;
    position: relative;
}


#mainTD  #choiches{
    position: absolute;
    top:35px;
    left: 10px;
    width:280px;
    height:40px;
    *padding-top: 1px;
}

#mainTD  label{
    margin:5px;
    *margin-left:0px;
}


#mainTD #choiches select{
    width: 260px;
}

#mainTD #otherO{text-align:left}

#mainTD #yearSelect{

    position:absolute;
    top: 30px;
    *top: 22px;
    left: 310px;
    text-align:center;


}

#mainTD #yearSelect select{
    margin:5px;
}


#mainTD #finalizeData{
    text-align:left;
    position:absolute;
    top: 30px;
    *top: 25px;
    left: 400px;
}

#mainTD #btnShow{
    background-image:url(/faostat-download-js/images/showData.gif);
    width:129px;
    height:45px;
    border:none;
}
#mainTD .bigButton{
    background-image:url(/faostat-download-js/images/showData.gif);
    width:129px;
    height:45px;
    border:none;}
#mainTD #btnExcel{
    /*background-image:url(img/exportData.gif);*/

    /*background-image:url(img/exportData.gif);*/
    width:129px;
    border:none;
    border-right:1px solid #235C79;
}

#mainTD #btnFilter
{
    width:100px;
    border-right:1px solid #235C79;
}
@font-face {
    font-family: 'ralewaythin';
    src: url('raleway_thin-webfont.eot');
    src: url('raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('raleway_thin-webfont.woff') format('woff'),
    url('raleway_thin-webfont.ttf') format('truetype'),
    url('raleway_thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}

#mainTD #thTitle{font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    background-color: #307395;
    color:white;
    text-align:left;
    padding-left: 7px;}
#mainTD #titleFBS{font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    background-color: #307395;
    text-align:center;}

#mainTD #tabCountry{width:275px;border:0px;float:left;}

#mainTD #tabItem{width:275px; border:0px;float:left}
#mainTD #result{

    margin-top:10px;

    /*-moz-box-shadow: 2px 2px 2px #000;   
    -webkit-box-shadow: 2px 2px 2px #000;  
    box-shadow: 5px 2px 2px black;	 
    behavior: url(ie-css3.htc);  */
}



#mainTD .myButtonC{
    width:89px;
    height:29px;
    display:inline-block;
    margin-left: 10px;

    padding:0px;
    background-image:url(/faostat-download-js/images/countriesTab.gif);

}
#mainTD .myButtonC:hover{
    width:89px;
    height:29px;
    display:inline-block;
    margin-left: 10px;
    padding:0px;
    background-image:url(/faostat-download-js/images/countriesTabOn.gif);

}

#mainTD .myButtonI{
    width:89px;
    height:29px;
    display:inline-block;
    margin:0px;
    margin-left: 7px;
    padding:0px;
    background-image:url(/faostat-download-js/images/itemsTab.gif);

}
#mainTD .myButtonI:hover{
    width:89px;
    height:29px;
    display:inline-block;
    margin:0px;
    margin-left: 7px;
    padding:0px;
    background-image:url(/faostat-download-js/images/itemsTabOn.gif);

}


#mainTD .myButtonCS{
    width:89px;
    height:29px;
    display:inline-block;
    margin-left: 10px;

    padding:0px;
    background-image:url(/faostat-download-js/images/countriesTab_ES.gif);

}
#mainTD .myButtonCS:hover{
    width:89px;
    height:29px;
    display:inline-block;
    margin-left: 10px;
    padding:0px;
    background-image:url(/faostat-download-js/images/countriesTabOn_ES.gif);

}

#mainTD .myButtonIS{
    width:89px;
    height:29px;
    display:inline-block;
    margin:0px;
    margin-left: 7px;
    padding:0px;
    background-image:url(/faostat-download-js/images/itemsTab_ES.gif);

}
#mainTD .myButtonIS:hover{
    width:89px;
    height:29px;
    display:inline-block;
    margin:0px;
    margin-left: 7px;
    padding:0px;
    background-image:url(/faostat-download-js/images/itemsTabOn_ES.gif);

}

#mainTD .myButtonCF{
    width:89px;
    height:29px;
    display:inline-block;
    margin-left: 10px;

    padding:0px;
    background-image:url(/faostat-download-js/images/countriesTab_FR.gif);

}
#mainTD .myButtonCF:hover{
    width:89px;
    height:29px;
    display:inline-block;
    margin-left: 10px;
    padding:0px;
    background-image:url(/faostat-download-js/images/countriesTabOn_FR.gif);

}

#mainTD .myButtonIF{
    width:89px;
    height:29px;
    display:inline-block;
    margin:0px;
    margin-left: 7px;
    padding:0px;
    background-image:url(/faostat-download-js/images/itemsTab_FR.gif);

}
#mainTD .myButtonIF:hover{
    width:89px;
    height:29px;
    display:inline-block;
    margin:0px;
    margin-left: 7px;
    padding:0px;
    background-image:url(/faostat-download-js/images/itemsTabOn_FR.gif);

}


#mainTD .myButtonS
{
    width:90px;
    height:29px;
    display:inline-block;
    margin:0px;
    padding:0px;


}

#mainTD .myButton
{
    /*background-color:#399BCC;*/
    color:white;
    text-decoration: none;
    text-transform:uppercase;
    cursor:pointer;

    float:left;
    margin-right:20px;
    font-family:Arial, Helvetica;
}


#mainTD .myButton img
{
    margin-right: 10px;
}

#mainTD .myButton .up
{
    display:inline;
    color:#235c79;



    margin-bottom: 0px; margin-top: 0px; height: 26px; top: -7px;
}
#mainTD .myButton .down
{
    display:none;

}

#mainTD .myButtonS
{
    background-color:#D3ECF8;
    color:black;

}

#mainTD table {

    border-collapse:separate;
    *cellspacing:0px;
    border-spacing: 0px;
    empty-cells: show;
    width:100%;
    font-family:"Courier New", Courier, monospace;

}



#mainTD table td {

    padding:5px 4px 5px 4px;
    border-top:solid 1px #96cae4;
    border-right:solid 1px #337a9d;
    border-bottom:solid 1px #1a4d66;
    border-left:solid 1px #96cae4;
    text-align:center;
    font-size:10px;

}



#mainTD table th {

    /*border: solid 1px #D5D5D5;*/
    border-top:solid 1px #96cae4;
    border-right:solid 1px #337a9d;
    border-bottom:solid 1px #1a4d66;
    border-left:solid 1px #96cae4;
    padding:5px 4px 5px 4px;
    background-color:#43a0cf;
    line-height:120%;


    font-size:10px;

}



#mainTD .subTitle{

    border-top:solid 1px #96cae4;
    border-right:solid 1px #337a9d;
    border-bottom:solid 1px #1a4d66;
    border-left:solid 1px #96cae4;


    text-align:left;
    background-color:#307395;
    word-wrap: break-word;
    min-width:50px;
    color:white;
}

#mainTD .subTitle2{

    border-top:solid 1px #96cae4;
    border-right:solid 1px #337a9d;
    border-bottom:solid 1px #1a4d66;
    border-left:solid 1px #96cae4;

    text-align:center;

    background-color:#43a0cf;
    word-wrap: break-word;
    min-width:50px;
    color:white;
}



#mainTD thead{
    background-color:#43a0cf;
    text-align:center;
    color:white;
}
#mainTD thead  .thCol{
    min-width:50px;
    width:150px
}

#mainTD thead td{

}
#mainTD thead th{width:10px}
/*#mainTD ._scrolling ,._thead{margin-right:16px}*/

#mainTD #myFilter th
{
    background-color:#999;
}

#mainTD .thPopEmpty{
    background-color:#92c8e3;
    text-align:left;
    /*padding-bottom:0px;*/
}
#mainTD .thPopEmpty a{margin:15px}
#mainTD .popTotal{
    background-color:#ec9f46;
    color:#4e3314;
}

#mainTD .bgBlue{
    background-color:#307395;

    border-top:solid 1px #43a0cf;
    border-right:solid 1px #204b61;
    border-bottom:solid 1px #245770;
    border-left:solid 1px #43a0cf;
}
#mainTD .myFilterButton{float:left;width:350px;margin-left:15px}
#mainTD .divMyFilter{width:340px;height:150px;overflow:auto;
    background-color:white;float:left;text-align:left;color:black;margin-left:15px}

#mainTD tr .td1{
    background-color:#ececec;

    border-top:solid 1px #ececec;
    border-right:solid 1px #D5D5D5;
    border-bottom:solid 1px #D5D5D5;
    border-left:solid 1px #ececec;

    /*padding:10px;*/
}

#mainTD tr .td2{
    background-color:#ffffff;

    border-top:solid 1px #ffffff;
    border-right:solid 1px #D5D5D5;
    border-bottom:solid 1px #D5D5D5;
    border-left:solid 1px #ffffff;

    /*padding:10px;*/
}

#mainTD tr .td3{
    background-color:#ececec;
    border-top:solid 1px #ececec;
    border-right:solid 1px #D5D5D5;
    border-bottom:solid 1px #D5D5D5;
    border-left:solid 1px #ececec;

    /*	padding:10px;*/
}

#mainTD #resultTable tr:hover td{
    background-color:#f5cea1;
}
#mainTD  #resultTable{
    *border-spacing:0;
    *border-collapse:collapse;}




/*END FBS*/


#throbber_content {
    visibility: hidden;
}

#throbber {
    text-align: center;
}

body {
    font-family: verdana;
    font-size: 90%;
}


.subh2{width:100%;}
.subh2 th{border:0px solid #3A9BCC}
h3 {
    margin-top: 0px;
}

#source_content {
    font-family: "bitstream vera sans mono", dejavu, courier, arial;
    background-color: #dde;
    padding: 1em;
}

#timeline_content {
    width: 100%;
}
.uneDim{
    /*float:left;*/

    height:300px;
    overflow:auto;
}
.DimVisi{
    border-style:solid;
    border-width:1px;
    display:inline;
    float:left;
    width:100%;
    height:300px;
    overflow:auto;}
.DimInvi{
    border-style:solid;
    border-width:1px;
    display:none;
    float:left;
    width:100%;
    height:300px;
    overflow:auto;}
/* ----------- tabs ----------- */
.tab {
    cursor: pointer;
    padding: 4px 1em;
    behavior: url("hover.htc");
}

.tab_selected {

}

div.tab:hover, div.tab.hover {
    background-color: #ddd;
}

/*-------------- panelbar -----------------*/

.panelbar {
    float: left;
    width: 250px;
    border: 1px solid #000;
}

.panelbar_option {
    padding: 4px 1em;
    height: 20px;
    background-color: #a2bbdc;
    cursor: pointer;
}

div.panelbar_option:hover {
    background-color: #bce;
}

.panelbar_option_selected {

}

.panelbar_option_upper {
    border-bottom: 1px solid #000;
}

.panelbar_option_lower {
    border-top: 1px solid #000;
}

.panelbar_content {
    height: 350px;
    background-color: #eee;
    overflow: hidden;
    _width: 250px;
}

/*-------------- charts -----------*/

#chart_1, #chart_2 {
    width: 500px;
    height: 200px;
    background-color: #ccc;
    position: relative;
}

#chart_1 .legend, #chart_2 .legend {
    font-size: 80%;
}

.chart {
    height: 200px;
    background-color: #aaa;
    position: relative;
}

.legend {
    background-color: #fff;
    border: 1px solid #000;
    font-size: 90%;
    padding: 1px;
}

.legend_box {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    margin: 2px;
    float: left;
    font-size: 0px;
}

.textX {
    font-size: 60%;
    text-align: center;
}

.textY {
    font-size: 80%;
}

/* pie chart */
#pie_content {
    width: 700px;
    height: 300px;
}

#pivot_chart {
    background-color: #aaa;
}

/*--------------- calendar --------------*/
.calendar {
    background-color: #fff;
    border: 1px solid #000;
}

.calendar_year, .calendar_month {
    text-align: center;
    border-bottom: 1px solid #aaa;
    padding: 2px 0px;
}

.calendar table {
    border-collapse: collapse;
    margin-top: 2px;
}

.calendar thead {

}

.calendar thead td {
    padding: 0px 2px;
}

.calendar td {
    font-size: 60%;
    text-align: center;
}

.calendar td:hover {
    background-color: #ccc;
}

td.calendar_selected {
    background-color: #faa;
}

.calendar_special {
    color: #c55;
}
.invi{display:none;}
.visi{display:block}

/* color picker */
#color_content {
    width: 60px;
    height: 40px;
    border: 2px solid #000;
    cursor: pointer;
}

/* tree */
#tree_content li {
    margin-left: 1em;
    padding-left: 0em;
}

#tree_content ul {
    margin-left: 0px;
    padding-left: 0px;
}
#chooseDim{
    background-color:#ececec;display:inline


}
.menuDim{
    /*background-color:#ececec;
    cursor: pointer;*/
    color: #1445A8;
    background: #EFF3FB url(images/unselected.gif) no-repeat left;
    font-size: 11px;
    padding: 2px 4px 2px 19px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #8AA3D4;
    text-decoration: none;
    cursor:pointer;
}
.menuDimSel{
    color: #EFF3FB;
    background: #1445A8 url(images/selected.gif) no-repeat left;
    font-size: 11px;
    padding: 2px 4px 2px 19px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #fff;
    text-decoration: none;
    cursor:pointer;/*
    background-color:#84B05F;
    cursor: pointer;*/

}
.mytree{

    height: 250px;
    overflow: auto;
}
.tree_li_selected {
    background-color: #aaf;
}

.tree_ul_selected {
    background-color: #fff !important;
}

/* dock */
.dock {
    height: 1000px;
}

.dock_column_0 {
    float: left;
    width: 200px;
    padding: 0.5em;
}

.dock_column_1 {
    float: left;
    width: 200px;
    padding: 0.5em;
}

.dock_column_2 {
    float: left;
    width: 150px;
    padding: 0.5em;
}

.dock_blank {
    border: none !important;
    background-color: #ccc;
}

#dock_results {
    font-size: 80%;
}

/* ticker */
#ticker_table {
    float: left;
}

/* dimmer */
#dimmer_content {
    position: absolute;
    background-color: #fff;
    width: 300px;
    height: 100px;
    border: 2px solid #000;
    padding: 1em;
}

/* quickedit */
.qe {
    cursor: pointer;
    border-bottom: 1px dotted #000;
}

/* combolist */
.combo_list_option {
    padding: 1px;
    cursor: pointer;
    behavior: url("hover.htc");
    width: 150px;
}

.combo_list_list {
    background-color: #fff;
    border: 1px solid #000;
}

div.combo_list_option:hover, .combo_list_option.hover {
    background-color: #aaa;
}


/* combobox */

.combo_box {
    position: relative;
    width: 150px;
}

.combo_image {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

.combo_box_list {
    background-color: #fff;
    width: 150px;
    height: 100px;
    overflow: auto;
    cursor: pointer;
}

.combo_box_value {
    display: block;
    border: 1px solid #000;
    padding: 1px;
    cursor: pointer;
}

/* combobutton */
.combo_button {
    position:relative;
    width: 120px;
}

.combo_button_image {
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #000;
    position: relative;
    _left: -3px;
}

.combo_button_option {
    background-color: #555;
    font-family: verdana;
    width: 100px;
    padding: 1px;
    border-bottom: 2px solid #aaa;
    cursor: pointer;
}

.combo_button_option_down {
    background-color: #222 !important;
}

div.combo_button_option:hover {
    background-color: #777;
}

.combo_button_text {
    color: #eee;
    font-size: 90%;
}

/* fisheye */
#fisheye_container {
    position: relative;
    height: 80px;
}

.fisheye {
    background-color: #aaf;
    position: absolute;
    height: 52px;
}

.fisheye img {
    bottom: 2px;
}

/* gd */
#gd_list {
    float: left;
    width: 120px;
}

#gd_list div {
    margin: 3px;
    cursor: pointer;
    float: left;
}

#gd_cart {
    padding: 3px;
    margin-left: 150px;
    width: 130px;
    height: 140px;
    background-image: url("images/cart.jpg");
    border: 2px solid #000;
}

/* window */
#window_content {
    margin: 1em;
}

/* compat */
.compatibility {
    font: menu;
    border-collapse: collapse;
}
.compatibility td {
    border: 1px solid #000;
    padding: 3px 5px;
    background-color: #eef;
}
.compatibility tr.head {
    text-align: center;
}
.compatibility .head {

}
.compatibility .ok {
    background-color: #4e4;
}
.compatibility .part {
    background-color: #ee4;
    cursor: pointer;
}
.compatibility .bad {
    background-color: #e44;
    cursor: pointer;
}

/* slider */
#sliderbg {
    position: relative;
    width: 300px;
    height: 53px;
    background-image: url("images/sliderbg.gif");
}

#slider_btn {
    position: absolute;
    width: 11px;
    height: 21px;
    top: 16px;
    background-image: url("../images/Slider.gif");
    cursor: w-resize;
}

/* rounded corners */
#round { background-image: url(images/bg.gif); background-color: #fff; padding-bottom: 2em;}

.round {
    color: #fff;
    width: 400px;
    margin: 1em;
}

.round_content {
    padding: 0px 8px;
}

#round_1 { background-color: #000;}
#round_2 { background-color: #f00; border: 1px solid #000;}
#round_3 { background-color: #0f0; }
#round_4 { background-color: #00f; }
#round_5 { background-color: #888; }

/* rdf graph */
#rdf_content {
    margin-top: 35px;
    width: 100%;
    height:500px;
    background-color: #ffa;
    position:relative;
}

.rdf_sidebar ul, .rdf_sidebar li {
    margin: 0px;
    padding: 0px;
}

.rdf_sidebar li {
    margin-left: 0.5em;
}

.rdf_sidebar {
    font-size: 80%;
    border: 1px solid #000;
    background-color: #fff;
    width: 250px;
    padding: 3px;
}

/* linechart, sparklines */
#line_chart {
    width: 400px;
    height: 200px;
    background-color: #ddd;
}

#sparkline_1, #sparkline_2, #sparkline_3 {
    margin: 1em;
    width: 100px;
    height: 20px;
    background-color: #fff;
}

/* tag cloud */
#tagcloud div {
    float: left;
    width: 30%;
    border: 1px dotted #888;
    margin: 2%;
    padding: 1em;
    text-align: justify;
    font-size: 140%;
    color: #555;
}

#tagcloud a {
    text-decoration: none;
}
/*Meta data */
.cpiTable{color:green}
/* Slidebar */

#slb {
    background: #85e;
    height: 100%;
    right: 0px;
    top: 0px;
    width: 10px;
    position: absolute;
    overflow: hidden;
    background-image: url(images/slidebar_c_bkg.png);
    background-repeat: repeat-y}

.slb {
    position: absolute;
    overflow: hidden;
    right: 0px;
    top: 0px;
    width: 10px}

.slb_handle {
    width: 10px;
    height: 100%;
    background-color: #575;
    background-image: url(images/slidebar_h_bkg.png);
    background-repeat: repeat-y;
    position: absolute}

.slb_handle_img {position: absolute}

.slb_content {
    color: #334;
    position: absolute;
    height: 100%;
    border: 1px solid yellow;
    top: 0px; left: 10px}


/*ROW COLUMN SELECTOR*/
#ODC_COL{min-width:600px; min-height:50px;background-color:#FFFFFF;display:block;font-weight: bold;color: #399BCC; position:absolute; top:-24px; left: 171px; z-index:2;}
#ODC_ROW{min-width:150px;min-height:50px;background-color:#FFFFFF;display:block;font-weight: bold;color: #399BCC;}
#ODC_ROWS{min-width:150px;min-height:50px;background-color:#FFFFFF;display:block;font-weight: bold;color: #399BCC; position:absolute; top:50px;}

.nested-checkbox{position:absolute; right:0px; top:19px; color:#666666;}
.nested-checkbox label{position:relative; top:-3px;}
#ODC_NESTED{min-width:150px;min-height:50px;background-color:#FFFFFF;display:block;font-weight: bold;color: #399BCC;}


/*#ODC2_COL .Col{float:left; text-transform:uppercase; height:16px; border:1px dashed #FFFFFF; margin:0 5px 5px 5px;padding: 4px 3px 3px 3px;font-weight: bold;color: #399BCC; font-size:12px;}*/

#ODC2_COL .h1 {display:inline-block;}

#ODC2_COL .Col{text-transform:uppercase; height:16px; border:1px dashed #FFFFFF; margin:0 5px 5px 5px;padding: 4px 3px 3px 3px;font-weight: bold;color: #399BCC; font-size:12px;}
#ODC2_COL .Col:hover{border-radius:2px; border:1px dashed #999999;}

.dragElement {display: block; text-transform:uppercase; margin:0 5px 5px 5px;padding: 4px 8px 4px 8px!important;font-weight: bold;color: #399BCC; font-size:12px!important; background-color:#FFFFFF !important; border-radius:2px; border:1px dashed #999999;}



#ODC2_ROW .row{text-transform:uppercase; height:16px; border:1px dashed #FFFFFF; margin:0 5px 5px 5px;padding: 4px 3px 3px 3px;font-weight: bold;color: #399BCC; font-size:12px; display:inline-block;} 
#ODC2_ROW .row:hover{border-radius:2px; border:1px dashed #999999;} 

#ODC2_NESTED .row{text-transform:uppercase; height:16px; border:1px dashed #FFFFFF; margin:0 5px 5px 5px;padding: 4px 3px 3px 3px;font-weight: bold;color: #399BCC; font-size:12px; display:inline-block;} 
#ODC2_NESTED .row:hover{border-radius:2px; border:1px dashed #999999;} 
.OLAPFilter{z-index:50}
.OLAPFilter input{float:left}



#tradolapalone2{color: #2471AA; font: 19px 'Open Sans Condensed',sans-serif; margin-top: 9px; border-bottom: 1px solid #CCCCCC;}
#tradolapalone4{color: #2471AA; font: 19px 'Open Sans Condensed',sans-serif; margin-top: 9px; border-bottom: 1px solid #CCCCCC;}
#tradolapalone3{margin-top:3px; color: #999999 !important;  font-weight: bold !important; padding-bottom: 2px !important; padding-right: 5px !important; text-transform: uppercase !important;}
#legendrow {color: #999999 !important;  font-weight: bold !important; padding-bottom: 2px !important; padding-right: 5px !important; text-transform: uppercase !important;}

.h1 {margin-top:3px;}

#pivot_content{clear:both;float:left;}
#ODC_ROW legend{margin:0 5px 5px 5px;padding: 3px;background-color:#CECECE;border: 1px solid #DDD;font-weight: bold;color: black;}
#ODC_ROWS legend{margin:0 5px 5px 5px;padding: 3px;background-color:#CECECE;border: 1px solid #DDD;font-weight: bold;color: black;}

#ODC_NESTED legend{margin:0 5px 5px 5px;padding: 3px;background-color:#CECECE;border: 1px solid #DDD;font-weight: bold;color: black;}
#ODC_COL legend{margin:0 5px 5px 5px;padding: 3px;background-color:#ECECEC;border: 1px solid #DDD;font-weight: bold;color: black;}
#NbDecimal{clear:both;float:left;}
#DimRowCol{clear:both;float:left}
#olapGenConf{font-weight: bold;color: black;text-align:center}
#olapGenConf li{display:inline;float:left}
#olapGenConf table{width:100%;background-color:White}
#conflegend{cursor:pointer;
    width:100%;
    border-color: #5E8CB3;
    font-weight: bold;
    background-color: #CFDDE9;}
.unit{}
.flag{}
.resCell td{border: 0px solid #A1A5A4;}


	@-webkit-keyframes animationPulse {
		from { background-color: #FFFFFF; -webkit-box-shadow: 0 0 9px #399BCC; box-shadow: 0 0 9px #399BCC; }
		50% { background-color: #FFFFFF; -webkit-box-shadow: 0 0 18px #FFFFFF; box-shadow: 0 0 9px #FFFFFF; }
		to { background-color: #FFFFFF; -webkit-box-shadow: 0 0 9px #399BCC; box-shadow: 0 0 9px #399BCC; }
	}
	
	
	@-moz-keyframes animationPulse {
		from { background-color: #FFFFFF; -webkit-box-shadow: 0 0 9px #399BCC; box-shadow: 0 0 9px #399BCC; }
		50% { background-color: #FFFFFF; -webkit-box-shadow: 0 0 18px #FFFFFF; box-shadow: 0 0 9px #FFFFFF; }
		to { background-color: #FFFFFF; -webkit-box-shadow: 0 0 9px #399BCC;  box-shadow: 0 0 9px #399BCC; }
	}



/** FAOSTAT CSS **/
.pivot-table {
    width: 780px !important;  
    margin-top: 10px;
}

#btnFS {
	text-decoration:none;
	position:absolute;
	top:0px;
	right:0px;
}

#myFlags {
    width:790px;
}

#myFlags h2 {
	color: #2471AA;
	font-weight: bold;
    	font: 19px 'Open Sans Condensed', sans-serif;
    	cursor: pointer !important;
    	margin-top: 9px;
	text-align:left !important;
}

#myFlags table {
	margin:0px;
	color:#666666 !important;	
}

#myFlags td {
	border-bottom:1px solid #E6E6E6 !important;
}

#hor-minimalist-b {
    width:704px;
    border-collapse: collapse;
    font-size:12px;
}
#hor-minimalist-b th {
	border-bottom: 1px solid #E6E6E6;
	color: #666666!important;
	font-size: 14px;
	font-weight: normal;
	padding: 5px 4px;
}
#hor-minimalist-b td {
	border-bottom: 1px solid #E6E6E6;
	color: #666666 !important;
	padding: 5px 4px;
}
#hor-minimalist-b tbody tr:hover td {
	color: #666666!important;
}

.hor-minimalist-b_row1 {
    color: #666666 !important;
    background-color: #FFFFFF !important;
}

.hor-minimalist-b_row2 {
    color: #666666 !important;
    background-color: #F4F4F4 !important;
}

#myFlags .hor-minimalist-b_row1 {
    background-color: #FFFFFF !important;
}

#myFlags .hor-minimalist-b_row2 {
    background-color: #FFFFFF !important;
}
